<style>
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    list-style: none;

}

body {
    background-color: #063240;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-content {
    position: relative;
    width: 90%;
    grid-template-columns: 300px 700px;
    max-width: 1000px;
    min-height: 1000px;
    margin: 20px auto;
    background-color: #fff;
    display: grid;

    box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
}

.main-content .left-section {
    position: relative;
    background: #333;
    padding: 1rem 1rem 1rem 1rem;

}

.left-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
}

hr {
    color: white;
    margin-top: 10px;
    width: 250px;
}

.left-content .profile-details {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    overflow: hidden;
}

.left-content .profile-details .profile-image {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    border: 2px solid white;
    border-radius: 20%;
}

.left-content .name {
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    padding: 0.8rem;
    letter-spacing: 0.02px;
    display: block;
}

.designation {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 250;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0.5rem;
}

.description {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
}

.contact-info {
    padding-top: 20pxpx;

}

.skill-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 0.75rem;
    padding: 1rem 0.5rem;
    padding-left: 0.5rem;
}

.social-media {
    display: flex;
    /* color: #03a9f4; */
    letter-spacing: 50px;
    margin-bottom: 20px;
    margin-left: 25px;
    cursor: pointer;
    color: #03a9f4;

}

.personal-details ul {
    position: relative;
    margin-bottom: 20px;
}

.personal-details ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.personal-details ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 10px;
    color: #28b6f8;

}

.contact-info ul li span {
    color: #fff;
    font-weight: 300;
    outline: none;
}

.skill-title {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem 0.5rem;
    outline: none;
    font-weight: 300;
    text-transform: uppercase;

}

.skill-name {
    font-size: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
    color: #03a9f4;
    font-weight: 150;
}

.progress-bar {
    position: relative;
    height: 4px;
    background-color: #fff;
    border: 1px solid #fff;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-info.skills .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #333;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-info.skills .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
    border-radius: 5px;
}

.main-content .right-section {
    position: relative;
    background: #fff;
    padding: 40px;

}

.right-main-content {
    padding: 2rem 3rem;
}

section {
    display: block;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.right-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: 700;
}

p {
    color: #333;
}

.about .box {
    display: flex;
    /* flex-direction: row-reverse; */
    margin: 20px 0;
    line-height: 20px;

}

.about .box .year_company {
    min-width: 352px;
    align-items: center;
    align-self: center;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 50px;
}

.about .box .text .qualification {
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    font-size: bold;
    margin-bottom: 10px;
}

@media screen and (min-width: 0px) and (max-width: 673px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}
</style>